extends ../layout

block content
  h1 #{title}
  form(method='POST', action='/passeios/edit/'+passeios._id)
    #form-group
      label descrição:
      textarea.form-control(name='body', required)= passeios.body

    #form-group
      label Valor do Passeio:
        input.form-control(name='valor_passeio', type='text', required,value=passeios.valor_passeio)

    #form-control
        label Selecione o seu Pet:
          select.form-control(name='pet', required)
            option= passeios.pet
            each val in ['CACHORRO', 'GATO','OUTROS']
              option= val

    #form--container
       label Status do Paseio
         select.form-control(name='situacao',required)
            option= passeios.situacao
            each val in ['Aberto', 'Fechado']
              option= val
    br

    <button type="submit">Salvar</button>
    <a href="/" class="cancelbtn"> Cancelar </a>
